@{
    ViewBag.Title = "Wylogowano";
    Layout = "_LayoutEmpty";
}


<div class="row">
    <div class="m12 s12 col center">
        <div class="card-panel green darken-1">
            <div class="row">
                <div class=" white-text">

                    <h6 class="center">Wylogowano</h6>
                </div>

            </div>
        </div>
    </div>
</div>