<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ComputerServiceClientWeb</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"/>
    @await RenderSectionAsync("Styles", false)
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>

</header>

<main role="main">
    @RenderBody()
</main>


<footer class="page-footer grey darken-3">

    <div class="footer-copyright">
        <div class="container">
            © 2022 Michał Jaśkiewicz

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</footer>
</body>
</html>