@model dynamic

<div class="row">
    <a asp-action="Index" class="btn-small waves-effect waves-light green">
        Wstecz
        <i class="material-icons left">arrow_back</i>
    </a>
    <a class="btn-small waves-effect waves-light blue" asp-action="Edit" asp-route-Id="@Model">

        <i class="material-icons left">edit</i>
        Edytuj
    </a>

</div>