@{
    ViewBag.Title = "Zgłoszenie nie przyjęte ";
    Layout = "_Layout";
}

<div class="row">
    <div class="m12 s12 col center">
        <div class="card-panel red darken-1">
            <div class="row">
                <div class=" white-text">
                    <h5 class="center">Błąd</h5>
                    <h6 class="center">Coś poszło nie tak </h6>
                </div>
                <div class="col l4 right-align">
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>