@{
    ViewBag.Title = "Sukces";
    Layout = "_Layout";
}
<div class="row">
    <div class="m12 s12 col center">
        <div class="card-panel green darken-1">
            <div class="row">
                <div class=" white-text">
                    <h5 class="center">Sukces</h5>
                    <h6 class="center">Zgłoszenie zostało zarejestrowane w systemie.Link do podglądu zgłoszenia został wysłany na adres email </h6>
                </div>
                <div class="col l4 right-align">
                    <br>

                </div>
            </div>
        </div>
    </div>
</div>