@model IEnumerable<Common.ViewModels.RequestHistoryViewModel>

<div class="card">
    <div class="card-title">Historia Zgłoszenia</div>
    <table class="responsive-table">
        <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PeriodStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PeriodStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>


            </tr>
        }
        </tbody>
    </table>
</div>